body {
    min-width: 340px;
}

.carre1 {
  width: 800px;
  height: 600px;
  background-color: #00ccff;
}
.logo {
  width: 80px;
  height: 60px;
  background-color: black;
}

div {
  text-align: center;
}
